@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
    width: 900px;
    margin: auto;
    background-image: url("images/fond_jaune.png");


}

.conteneur
{
    display: flex;
    width: 800px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    
    

}


.zozor
{
    font-family: ballparkweiner;
    font-size: 1.8em;
    font-style: bold;
    margin-bottom: 0px;
    
}



h5
{
    font-size: 1em;
    font-family: dayrom;
    opacity: 0.6;
    margin-top: 0px;
}

#nav
{
   
    font-size: 1em; 
    display: flex;
    align-content: flex-end;
    opacity: 0.8;
}

nav a
{
    margin-left: 25px;
    font-family: "Trebuchet MS";
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav span
{

color: maroon;
text-decoration: underline;
}

.separateur
{
    background-image: url("images/separateur.png");
    width: 900px;
    height: 3px;
    margin-top: 0px;
 }



 .conteneur2
 {
     display: flex;
     align-items: flex-end;
    width: 800px;
    height: 184px;
    margin: auto;
    background-image: url("images/sanfrancisco2.jpg");
    margin-bottom: 15px;

 }

.bandeau
{
 display: flex;
 height: 35px;
 justify-content: space-between;
 align-items: center;
 background-color: rgba(0,0,0,0.8);
 flex: 1;


}
.texte
{
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: bold;
    font-family: "Trebuchet MS";
    opacity: 0.8;
    padding-left: 5px;

}

.article a
{
    color: #FFFFFF;
    font-size: 0.7em;
    font-family: "Trebuchet MS";
    text-decoration: none;
}

.article
{
    border: 1px maroon solid;
    height: 20px;
    width: 90px;
    text-align: center;
    background: url("images/fond_degraderouge.png");
    border-radius: 5px/10px;
    margin-right: 5px;
}