@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
    width: 900px;
    margin: auto;
    background-image: url("images/fond_jaune.png");


}

.conteneur
{
    display: flex;
    width: 800px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    
    

}


.zozor
{
    font-family: ballparkweiner;
    font-size: 1.8em;
    font-style: bold;
    margin-bottom: 0px;
    
}
.loggo
{

    border: none;
}

h5
{
    font-size: 1em;
    font-family: dayrom;
    opacity: 0.6;
    margin-top: 0px;
}

#nav
{
   
    font-size: 1em; 
    display: flex;
    align-content: flex-end;
    opacity: 0.8;
}

nav a
{
    margin-left: 25px;
    font-family: "Trebuchet MS";
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav span
{

color: maroon;
text-decoration: underline;
}

.fleche
{
    border: none;
}
.separateur
{
    background-image: url("images/separateur.png");
    width: 900px;
    height: 3px;
    margin-top: 0px;
    
 }



 .conteneur2
 {
     display: flex;
     align-items: flex-end;
    width: 800px;
    height: 184px;
    margin: auto;
    background-image: url("images/sanfrancisco2.jpg");
    margin-bottom: 15px;

 }

.bandeau
{
 display: flex;
 height: 35px;
 justify-content: space-between;
 align-items: center;
 background-color: rgba(0,0,0,0.8);
 flex: 1;


}
.texte
{
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: bold;
    font-family: "Trebuchet MS";
    opacity: 0.8;
    padding-left: 5px;

}

.article a
{
    color: #FFFFFF;
    font-size: 0.7em;
    font-family: "Trebuchet MS";
    text-decoration: none;
}

.article
{
    border: 1px maroon solid;
    height: 20px;
    width: 90px;
    text-align: center;
    background: url("images/fond_degraderouge.png");
    border-radius: 5px/10px;
    margin-right: 5px;
}

.logo2
{
    float: left;
    margin-left: 00px;
    border: none;
}

h2
{
    margin-top: 15px;
   padding-bottom: 5px;
    padding-left: 50px;
    font-family: "dayrom";
    opacity: 0.8;
    font-size: 1.2em;
}

#bloctexte
{
    display: flex;
    width: 800px;
    margin: auto;
    
}

.bloctexte2
{
  margin-right: 10px;
  text-align: justify;

}

.bulle
{

width: 50px;
margin-top: 160px;

}

.bulle2
{
    border: none;
    margin-right: -1px;
}


.bloctexte3
{

width: 2500px;
height: 400px;
background-color: #6e6962;
color: #DFE0E5;
text-shadow: 2px 2px 2px black;
border-radius: 8px;
}

h3
{
    text-align: center;
}

.imgzozor
{

    text-align: center;
}

.logos
{
    text-align: center;
}
article p
{
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;

}

.separateur3
{
    display:flex;
    height: 20px;
   

    
 }

 .icone
 {
    width: 55px;
    height:50px;
    background-image: url("images/ico_top.png");
    background-repeat: no-repeat;
    margin-top: 0px;
 }

 .separateur2
{
    background-image: url("images/separateur.png");
    width: 428px;
    height: 3px;
    margin-top: 0px;
  
 }

 #footer
 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 800px;
    margin: auto;
    font-size: 0.7em;
    font-family: dayrom;
    font-weight: bold;
 }



 .puces
 {
    
    display: flex;

 }

 h4
 {

    font-size: 15px;
    opacity: 0.8;
   


 }
li
{

    padding-left: 0px;
    color: maroon;
    font-weight: bold;
    background-image: url("images/ico_liensexterne.png");
    background-repeat: no-repeat;
    padding-left: 10px;
    list-style-type: none;


}


.titre4
{
    padding-left: 40px;
    margin-bottom: 5px;
}

img
{

    border: 1px black solid;
    border-radius: 3px;
}

.facebook
{

border: none;
}

.vimeo 
{
    border: none;
}

.twitter 
{
    border: none;
}

.flickr 
{
    border: none;
}

.rss
{
    border: none;
}

a
{
    text-decoration: none;
    color: maroon;
}